[submodule "themes/hugo-serif-theme"]
	path = themes/hugo-serif-theme
	url = https://github.com/ammarmplumber/hugo-serif-theme.git
	branch = master
[submodule "content/posts"]
	path = content/posts
	url = https://github.com/ammarmplumber/posts.git
	branch = master
[submodule "static/images/posts"]
	path = static/images/posts
	url = https://github.com/ammarmplumber/postimages.git
	branch = master