<!--layouts/shortcodes/imgur-item.html-->
{{- $src := .Get "src" -}}
{{- $caption := .Get "caption" -}}
{{- $imgid := .Get "imgid" -}}
{{ with $imgid }}

<style>
    .flex-item {
        /*width: 350px;
        height: null;*/
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100px;
        justify-content: flex-start;
        display: flex;
        padding-left: 20px;
    }

    .flex-item img {
        cursor: pointer;
        max-width: 400px;
    }

    figcaption {
        color: black;
    }

    a:link {
        text-decoration: none;
    }
</style>

<div class="flex-item">
        <figure>
            <img src="https://i.imgur.com/{{$imgid}}.jpg" loading="lazy"/>
            {{ end }}
            <!--<div style="clear: both;"></div>-->
            {{ with $caption }}
            <figcaption>{{$caption}}</figcaption>
            {{ end }}
        </figure>
  </div>


